$custom-theme-colors: (
    "primary": #ff3d86,
    "secondary": #62ddd7,
    "secondary-2": #1a516e,
    "primary-tint-1": #ffd8e7,
    "primary-tint-2": #d1dce2,
    "primary-tint-3": #cdf9f8,
    "primary-tint-4": #d3c8ff,
    "neutral-black": #222222,
    "neutral-grey-1": #929292,
    "neutral-grey-2": #9dadc2,
    "neutral-grey-3": #e8ecef,
    "neutral-grey-4": #f6f7fb,
    "tertiary-alert": #ff0000,
    "tertiary-helper": #6b48ff,
    "tertiary-green": #00d571,
    "tertiary-blue": #050e54,
    "tertiary-hover": #b32b5e,
);

$o-color-palettes: map-merge(
    $o-color-palettes,
    (
        "base-1": (
            "o-color-1":
                map-get(
                    $map: $custom-theme-colors,
                    $key: "primary",
                ),
            "o-color-2":
                map-get(
                    $map: $custom-theme-colors,
                    $key: "secondary",
                ),
            "o-color-3":
                map-get(
                    $map: $custom-theme-colors,
                    $key: "neutral-grey-3",
                ),
            "o-color-4": #ffffff,
            "o-color-5": #222222,
        ),
    )
);
