.section-schedule-booking-25fit {
    padding: 24px 0;
    height: 100%;
}

.schedule-booking-wrapper {
    margin-top: 32px;
    .schedule-booking-header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        .schedule-booking-title {
            font-size: 1.125rem;
            @media (min-width: 992px) {
                font-size: 1.375rem;
            }
        }
    }
    .schedule-booking-body {
        .list-your-booking {
            display: grid;
            grid-gap: 12px;
            grid-template-columns: repeat(1, 1fr);
        }
        .booking__item {
            padding: 16px;
            box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
            border-radius: 8px;
            background-color: map-get(
                $map: $theme-colors,
                $key: "neutral-grey-4"
            );
            table {
                font-size: 0.875rem;
                tr {
                    td {
                        padding-top: 8px;
                        padding-bottom: 8px;
                        border-top: 1px solid #ffffff;
                        vertical-align: top;
                        &:first-child {
                            padding-right: 24px;
                            width: 30%;
                        }
                        &:last-child {
                            font-weight: 600;
                            font-weight: 70%;
                        }
                    }
                    &:first-child {
                        td {
                            border-top: 0;
                            padding-top: 0;
                        }
                    }
                    &:last-child {
                        td {
                            padding-bottom: 0;
                        }
                    }
                }
            }
            .booking-item-actions {
                margin-top: 16px;
                padding-top: 16px;
                border-top: 1px solid #ffffff;
            }
        }
    }
}
