html {
    @media (min-width: 1024px) {
        ::-webkit-scrollbar-thumb {
            background: map-get($map: $custom-theme-colors, $key: "primary");
            border-radius: 6px;
        }
        ::-webkit-scrollbar {
            width: 8px;
        }
        ::-webkit-scrollbar-track {
            background-color: map-get(
                $map: $custom-theme-colors,
                $key: "neutral-grey-3"
            );
        }
    }
}

body {
    @media (max-width: 575.98px) {
        font-size: 0.875rem;
    }
}

button {
    &.close {
        outline: none;
    }
}

.o_header_default_affixed {
    .navbar {
        padding: 0.75rem 1rem;
        transition: 0.3s all ease-in-out;
        @media (max-width: 992.98px) {
            .navbar-collapse {
                padding-top: 0.5rem;
            }
        }
    }
    .js_usermenu {
        @media (max-width: 992.98px) {
            margin: 0 0 0.5rem 0;
        }
    }
    .js_language_selector {
        .btn-outline-secondary {
            font-size: 1rem;
            color: rgba($color: #000000, $alpha: 0.5);
            background-color: transparent;
            padding: 0;
            > .o_lang_flag {
                width: 24px;
                height: 24px;
            }
            > span {
                display: none;
            }
            &:hover,
            &:focus,
            &:active {
                color: rgba($color: #000000, $alpha: 0.5) !important;
                background-color: transparent !important;
            }
        }
        @media (max-width: 992.98px) {
            padding: 0.5rem 0;
            .dropdown-menu {
                position: static;
                float: none;
                margin: 0.5rem 0 0 0;
            }
        }
    }
    .navbar-toggler {
        outline: none;
    }
    &:not(.o_header_affixed) {
        @media (min-width: 992px) {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: auto;
            .navbar-light {
                background-color: transparent;
            }
        }
    }
    @media (min-width: 992px) {
        #top_menu {
            .nav-item {
                + .nav-item {
                    margin-left: 8px;
                }
            }
        }
        .navbar {
            background-color: rgba($color: #000000, $alpha: 0.9);
            box-shadow: unset !important;
        }
        .navbar-nav {
            .nav-link {
                color: #ffffff;
                &:hover,
                &:focus {
                    color: #ffffff;
                }
            }
        }
        .navbar-light .navbar-nav .show > .nav-link,
        .navbar-light .navbar-nav .active > .nav-link,
        .navbar-light .navbar-nav .nav-link.show,
        .navbar-light .navbar-nav .nav-link.active {
            color: map-get($map: $custom-theme-colors, $key: "primary");
        }
        .navbar-brand {
            &.logo {
                img {
                    filter: brightness(0) invert(1);
                }
            }
        }
        .js_language_selector {
            .btn-outline-secondary {
                color: #ffffff;
                &:hover,
                &:focus,
                &:active {
                    color: #ffffff !important;
                }
            }
        }
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
    }
}
.o_footer_logo {
    img {
        filter: brightness(0) invert(1);
    }
}

.dropdown-toggle {
    &:after {
        content: "\f107";
        font-family: "FontAwesome";
        border-top: 0;
        border-right: 0;
        border-bottom: 0;
        border-left: 0;
        vertical-align: baseline;
        line-height: 1;
        transition: transform 0.2s ease-in-out;
    }
}

.checkbox__switch-label {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    span {
        font-size: 13px;
        color: #747677;
        padding-right: 8px;
    }
}

.checkbox__switch {
    display: inline-block;
    height: 16px;
    position: relative;
    width: 36px;
    margin-bottom: 0;
    input {
        display: none;
        &:checked {
            + .slider {
                background-color: map-get(
                    $map: $custom-theme-colors,
                    $key: primary
                );
                &:before {
                    transform: translate(20px, -50%);
                }
            }
        }
    }
    .slider {
        background-color: #dfe2e5;
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: 0.4s;
        &:before {
            background-color: #ffffff;
            top: 50%;
            content: "";
            height: 12px;
            left: 2px;
            position: absolute;
            transition: 0.4s;
            transform: translate(0, -50%);
            width: 12px;
        }
        &.round {
            border-radius: 1.22rem;
            &:before {
                border-radius: 1.22rem;
            }
        }
    }
}

.btn {
    i {
        ~ span {
            margin-left: 2px;
        }
    }
}

.gx-48 > .col,
.gx-48 > [class*="col-"] {
    padding-right: 24px;
    padding-left: 24px;
}

.gx-64 > .col,
.gx-64 > [class*="col-"] {
    padding-right: 32px;
    padding-left: 32px;
}

.gx-80 > .col,
.gx-80 > [class*="col-"] {
    padding-right: 40px;
    padding-left: 40px;
}

.lcl {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;

    &-1 {
        -webkit-line-clamp: 1;
    }

    &-2 {
        -webkit-line-clamp: 2;
    }

    &-3 {
        -webkit-line-clamp: 3;
    }

    &-4 {
        -webkit-line-clamp: 4;
    }

    &-5 {
        -webkit-line-clamp: 5;
    }
}
