#layout-home-js {
    .fullpage-content-style-01 {
        margin-top: -4px;
    }
}

.section-checkout-wrapper-25fit {
    border: 1px solid #dfe2e5;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
}

.title-section-default {
    .sub-heading {
        font-size: 12px;
        color: #ffffff;
        position: relative;
        line-height: 36px;
        display: inline-block;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 8px;
        text-align: center;
        padding: 0 26px;
        letter-spacing: 0.1em;
        -webkit-mask-image: url("/theme_25fit/static/src/images/bg-sub-title-default.svg");
        -webkit-mask-image: url("/theme_25fit/static/src/images/bg-sub-title-default.svg");
        mask-image: url("/theme_25fit/static/src/images/bg-sub-title-default.svg");
        -webkit-mask-size: 100%;
        mask-size: 100%;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center center;
        mask-position: center center;
        background: map-get($map: $custom-theme-colors, $key: "primary");
        margin-bottom: 8px;
    }
    .heading {
        font-size: 36px;
        line-height: 44px;
        font-weight: 700;
        margin-bottom: 0;
        &.cl-white {
            color: #ffffff;
        }
        @media (max-width: 1024.98px) {
            font-size: 28px;
            line-height: 36px;
        }
        @media (max-width: 575.98px) {
            font-size: 24px;
            line-height: 32px;
        }
    }

    &--center {
        text-align: center;
    }
    &--md-center {
        @media (max-width: 767.98px) {
            text-align: center;
        }
    }
}

.section-checkout-25fit {
    padding: 8px 0;
}

.checkout-wrapper-25fit {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 12px;
    padding: 12px;
    @media (min-width: 1025px) {
        grid-template-columns: minmax(auto, 70%) minmax(auto, 30%);
    }
}

.block-header-checkout-25fit {
    background-color: map-get($map: $custom-theme-colors, $key: "secondary-2");
    padding: 12px;
    ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
            > a {
                font-size: 13px;
                color: #ffffff;
                text-decoration: unset;
                > i {
                    font-size: 10px;
                }
            }
            + li {
                margin-left: 8px;
            }
        }
    }
}

.block-process-checkout-25fit {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    border-bottom: 1px solid #dfe2e5;
    .list-process {
        display: flex;
        align-items: center;
    }
    .process__item {
        text-align: center;
        min-width: 100px;
        .icon-wrapper {
            position: relative;
            background-color: #ffffff;
            .icon {
                color: map-get(
                    $map: $custom-theme-colors,
                    $key: "neutral-grey-1"
                );
                font-size: 16px;
                position: relative;
                z-index: 1;
                &::before {
                    content: "\f192";
                    font-family: "FontAwesome";
                    background-color: #ffffff;
                }
            }
            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                border: 1px solid #dfe2e5;
                transform: translateY(-50%);
                width: 100%;
            }
        }
        .text {
            font-size: 13px;
            font-weight: normal;
            margin-top: 4px;
        }
        &:first-child,
        &:last-child {
            .icon-wrapper {
                &:before {
                    content: "";
                    position: absolute;
                    width: 50%;
                    top: 0;
                    height: 100%;
                    background-color: #ffffff;
                    z-index: 1;
                }
            }
        }
        &:first-child {
            .icon-wrapper {
                &:before {
                    left: 0;
                }
            }
        }
        &:last-child {
            .icon-wrapper {
                &:before {
                    right: 0;
                }
            }
        }
        &.active {
            .text {
                color: map-get($map: $custom-theme-colors, $key: "secondary");
            }
            .icon-wrapper {
                .icon {
                    color: map-get(
                        $map: $custom-theme-colors,
                        $key: "secondary"
                    );
                    &::before {
                        content: "\f058";
                    }
                }
            }
        }
        @media (min-width: 768px) {
            min-width: 145px;
        }
    }
}

.block-select-plans-25fit {
    .select-type-plan {
        display: flex;
        align-items: center;
        padding-bottom: 16px;
        padding-top: 10px;
        border-bottom: 1px solid #dfe2e5;
        label {
            margin-bottom: 0;
            margin-right: 20px;
        }
        .select {
            position: relative;
            &:after {
                content: "\f0dd";
                line-height: 1;
                font-family: "FontAwesome";
                position: absolute;
                right: 16px;
                top: 40%;
                transform: translateY(-50%);
                pointer-events: none;
                color: #929292;
            }
        }
        select {
            cursor: pointer;
            border: 1px solid
                map-get($map: $custom-theme-colors, $key: "primary");
            padding: 4px 32px 4px 16px;
            border-radius: 8px;
            appearance: none;
        }
    }
    .list-plans {
        margin-top: 20px;
    }
    .plans__item {
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 16px 12px;
        background-color: map-get(
            $map: $custom-theme-colors,
            $key: "neutral-grey-4"
        );
        border-radius: 6px;
        transition: 0.3s all ease-in-out;
        border-width: 2px;
        border-style: solid;
        border-color: transparent;
        .icon {
            -ms-flex: 0 0 56px;
            flex: 0 0 56px;
            max-width: 56px;
            height: 56px;
            overflow: hidden;
        }
        .information {
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
            display: flex;
            justify-content: space-between;
            padding-left: 20px;
            font-size: 18px;
            flex-direction: column;
            align-items: flex-start;
            @media (min-width: 1025px) {
                flex-direction: row;
                align-items: center;
            }
        }
        + .plans__item {
            margin-top: 12px;
        }
        &.checked {
            border-color: map-get($map: $custom-theme-colors, $key: "primary");
            box-shadow: 0px 16px 32px rgba(34, 34, 34, 0.08),
                0px 8px 16px rgba(34, 34, 34, 0.08);
        }
        &:not(.checked) {
            &:hover {
                opacity: 0.8;
            }
        }
    }
}

.block-your-order-25fit {
    border: 1px solid #dfe2e5;
    height: 100%;
    padding: 8px 12px;
    border-radius: 6px;
    .title {
        font-weight: normal;
        font-size: 22px;
        padding-bottom: 18px;
        border-bottom: 1px solid #dfe2e5;
    }
    .order-name-plan {
        color: #ffffff;
        text-align: center;
        background-color: map-get(
            $map: $custom-theme-colors,
            $key: "secondary-2"
        );
        padding: 22px 0;
        border-radius: 6px;
        margin-top: 20px;
        h4 {
            font-size: 18px;
            margin-bottom: 0;
        }
        p {
            font-size: 13px;
            margin-bottom: 4px;
        }
    }
    .checkouts {
        margin-top: 15px;
    }
    .checkout__item {
        display: flex;
        justify-content: space-between;
        span {
            font-size: 13px;
        }
        + .checkout__item {
            margin-top: 15px;
            padding-top: 15px;
            border-top: 1px solid #dfe2e5;
        }
        &.total {
            font-weight: 700;
            margin-top: 16px;
        }
    }
    .input-promotion {
        margin-top: 16px;
    }
    .checkout__actions {
        display: flex;
        justify-content: center;
        margin: 36px 0 24px;
    }
}

.block-your-checkout-information-25fit {
    .head-your-checkout-information {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: map-get(
            $map: $custom-theme-colors,
            $key: "neutral-grey-4"
        );
        padding: 16px 12px;
        border-radius: 6px;
        .head__left {
            display: flex;
            align-items: center;
            .btn-edit-checkout {
                margin-left: 20px;
                span {
                    margin-left: 4px;
                }
            }
        }
    }
}

.block-your-checkout-information {
    background-color: map-get(
        $map: $custom-theme-colors,
        $key: "neutral-grey-4"
    );
    padding: 16px 12px 20px;
    border-radius: 6px;
    .information-header {
        padding-bottom: 18px;
        margin-bottom: 12px;
        border-bottom: 1px solid #e5e5e5;
        .left {
            display: flex;
            align-items: center;
            margin-bottom: 8px;
            @media (min-width: 576px) {
                margin-bottom: 0;
            }
        }
        .information-title {
            font-size: 22px;
        }
        .edit-information {
            font-size: 13px;
            color: map-get($map: $custom-theme-colors, $key: "primary");
            padding-left: 20px;
        }
        @media (min-width: 576px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .information-body {
        .information__item {
            font-size: 13px;
            display: grid;
            grid-template-columns: 100px auto;
            grid-column-gap: 24px;
            label {
                margin-bottom: 0;
            }
            + .information__item {
                margin-top: 8px;
            }
        }
    }
}

.block-payment-checkout-method {
    margin-top: 20px;
    border: 1px solid #dfe2e5;
    padding: 16px;
    .checkout-method-title {
        padding-bottom: 18px;
        border-bottom: 1px solid #e5e5e5;
    }
    .checkout-method-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 16px;
        margin-top: 16px;
        @media (min-width: 576px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (min-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    .checkout-method__item {
        .custom-control {
            margin-bottom: 0;
        }
        .custom-control-label {
            cursor: pointer;
            font-size: 13px;
            font-weight: 400;
            &::before,
            &:after {
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

.booking-details-25fit {
    padding: 24px 0;
    height: 100%;
}

.section-booking-time-25fit {
    padding: 24px 0;
    height: 100%;
}

.booking-time-calendar-wrapper {
    margin-top: 32px;
}

.section-confirm-booking-25fit {
    padding: 24px 0;
    height: 100%;
}

.confirm-booking-wrapper {
    margin-top: 32px;
}

.section-schedule-booking-25fit {
    padding: 24px 0;
    height: 100%;
}

.schedule-booking-wrapper {
    margin-top: 32px;
    .schedule-booking-header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        .schedule-booking-title {
            font-size: 1.125rem;
            @media (min-width: 992px) {
                font-size: 1.375rem;
            }
        }
    }
    .schedule-booking-body {
        .list-your-booking {
            display: grid;
            grid-gap: 12px;
            grid-template-columns: repeat(1, 1fr);
        }
        .booking__item {
            padding: 16px;
            box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
            border-radius: 8px;
            background-color: map-get(
                $map: $custom-theme-colors,
                $key: "neutral-grey-4"
            );
            table {
                font-size: 0.875rem;
                tr {
                    td {
                        padding-top: 8px;
                        padding-bottom: 8px;
                        border-top: 1px solid #ffffff;
                        vertical-align: top;
                        &:first-child {
                            padding-right: 24px;
                            width: 30%;
                        }
                        &:last-child {
                            font-weight: 600;
                            font-weight: 70%;
                        }
                    }
                    &:first-child {
                        td {
                            border-top: 0;
                            padding-top: 0;
                        }
                    }
                    &:last-child {
                        td {
                            padding-bottom: 0;
                        }
                    }
                }
            }
            .booking-item-actions {
                margin-top: 16px;
                padding-top: 16px;
                border-top: 1px solid #ffffff;
            }
        }
    }
}

.section-your-booking-information-25fit {
    padding: 24px 0;
    height: 100%;
}

.your-booking-information-wrapper {
    margin-top: 32px;
    .information-header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        .information-title {
            font-size: 1.125rem;
            @media (min-width: 992px) {
                font-size: 1.375rem;
            }
        }
        .btn {
            margin-left: 16px;
        }
    }
    .information-body {
        overflow-x: auto;
        .informations {
            display: grid;
            grid-gap: 12px;
            grid-template-columns: repeat(1, 1fr);
            @media (min-width: 992px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media (min-width: 1200px) {
                grid-template-columns: repeat(3, 1fr);
            }
        }
        .information__item {
            padding: 16px;
            box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
            border-radius: 8px;
            table {
                font-size: 0.875rem;
                tr {
                    td {
                        padding-top: 8px;
                        padding-bottom: 8px;
                        border-top: 1px solid #ffffff;
                        vertical-align: top;
                        &:first-child {
                            padding-right: 24px;
                            width: 30%;
                        }
                        &:last-child {
                            font-weight: 600;
                            font-weight: 70%;
                        }
                    }
                    &:first-child {
                        td {
                            border-top: 0;
                            padding-top: 0;
                        }
                    }
                    &:last-child {
                        td {
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }
        .information__item--time {
            color: #ffffff;
            background-color: map-get(
                $map: $custom-theme-colors,
                $key: "secondary-2"
            );
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .date {
                font-size: 1.125rem;
            }
            .time {
                font-size: 2.25rem;
                font-weight: 700;
                margin-top: 8px;
            }
            .time-zone {
                font-size: 0.875rem;
                font-style: italic;
                margin-top: 4px;
            }
        }
        .information__item--info_booking {
            background-color: #ffd8e7;
        }
        .information__item--info_user {
            background-color: #cdf9f8;
        }
        .table-information {
            width: 100%;
            tr {
                th,
                td {
                    padding: 8px;
                    border-bottom: 1px solid
                        map-get(
                            $map: $custom-theme-colors,
                            $key: "neutral-grey-3"
                        );
                    @media (min-width: 576px) {
                        padding: 16px;
                    }
                }
                td {
                    &:first-child {
                        font-size: 0.75rem;
                        font-weight: 700;
                        background-color: #e8ecef;
                        border-bottom: 1px solid #ffffff;
                        > p {
                            margin: 0;
                        }
                        > span {
                            font-size: 0.625rem;
                            color: map-get(
                                $map: $custom-theme-colors,
                                $key: "neutral-grey-1"
                            );
                            font-weight: 400;
                            margin-top: 2px;
                        }
                        @media (min-width: 768px) {
                            width: 220px;
                            font-size: 0.875rem;
                        }
                    }
                    &:not(:first-child) {
                        border-right: 1px solid
                            map-get(
                                $map: $custom-theme-colors,
                                $key: "neutral-grey-3"
                            );
                    }
                }
                &:first-child {
                    td {
                        border-top: 1px solid
                            map-get(
                                $map: $custom-theme-colors,
                                $key: "neutral-grey-3"
                            );
                    }
                }
                &:last-child {
                    td {
                        &:first-child {
                            border-bottom: 1px solid
                                map-get(
                                    $map: $custom-theme-colors,
                                    $key: "neutral-grey-3"
                                );
                        }
                    }
                }
            }
            &.customer-goals {
                tr {
                    td {
                        &:not(:first-child) {
                            font-size: 0.75rem;
                        }
                    }
                }
            }
            &.customer-body-composition-history {
                min-width: 768px;
                tr {
                    td {
                        &:not(:first-child) {
                            text-align: center;
                            font-size: 0.75rem;
                            > p {
                                font-size: 0.75rem;
                                font-weight: 400;
                                margin: 0;
                            }
                            @media (min-width: 1200px) {
                                font-size: 1.125rem;
                            }
                        }
                    }
                }
            }
            &.block-lego-lessons {
                tr {
                    cursor: pointer;
                    td {
                        &:not(:first-child) {
                            width: 140px;
                            img {
                                width: 100%;
                                height: auto;
                            }
                        }
                        &:first-child {
                            width: auto;
                            .group-text {
                                display: flex;
                                align-items: center;
                            }
                            .number {
                                font-size: 0.75rem;
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                                min-width: 24px;
                                min-height: 24px;
                                border: 1px solid #c4c4c4;
                            }
                            .name {
                                padding-left: 8px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.title-section-wrapper-25fit {
    padding-bottom: 16px;
    border-bottom: 1px solid
        map-get($map: $custom-theme-colors, $key: "neutral-grey-3");
    .title-section {
        font-size: 1rem;
        font-weight: 500;
        margin: 0;
        @media (min-width: 768px) {
            font-size: 1.125rem;
        }
        @media (min-width: 992px) {
            font-size: 1.5rem;
        }
    }
}

.hero-banner-style-01,
.hero-banner-style-02 {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    height: 100vh;
    .content-wrapper {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        h2 {
            text-align: center;
            font-weight: 900;
            color: #ffffff;
        }
        p {
            color: #ffffff;
            margin-bottom: 0;
            text-align: center;
        }
        .content__action {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-top: 36px;
            gap: 24px;
        }
    }
    @media (max-width: 1024.98px) {
        height: 70vh !important;
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

.hero-banner-style-01 {
    .content-wrapper {
        max-width: 750px;
        h2 {
            font-size: 48px;
            line-height: 64px;
            span {
                font-size: 64px;
                color: map-get($map: $custom-theme-colors, $key: "primary");
            }
            @media (max-width: 1024.98px) {
                font-size: 24px;
                line-height: 32px;
                span {
                    font-size: 32px;
                }
            }
        }
    }
    &:after {
        background: linear-gradient(
            180deg,
            rgba(34, 34, 34, 0.5) 19.17%,
            #222222 100%
        );
    }
}

.hero-banner-style-02 {
    video {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .content-wrapper {
        h2 {
            font-size: 56px;
            line-height: 64px;
            margin-bottom: 16px;
            @media (max-width: 1024.98px) {
                font-size: 48px;
                line-height: 64px;
            }
            @media (max-width: 1024.98px) {
                font-size: 24px;
                line-height: 32px;
            }
        }
        p {
            max-width: 750px;
            margin: 0 auto;
        }
    }
    &:after {
        background-color: rgba($color: #000000, $alpha: 0.6);
    }
}

.fullpage-content-style-01 {
    background-color: map-get(
        $map: $custom-theme-colors,
        $key: "neutral-black"
    );
    .fullpage-content-swiper {
        padding: 8vh 0;
        .swiper-pagination-bullet {
            background: map-get($map: $custom-theme-colors, $key: "primary");
            transition: 0.3s all ease-in-out;
        }
        .swiper-pagination-bullet-active {
            width: 24px;
            border-radius: 8px;
        }
        .swiper-pagination-fraction,
        .swiper-pagination-custom,
        .swiper-horizontal > .swiper-pagination-bullets,
        .swiper-pagination-bullets.swiper-pagination-horizontal {
            width: calc(50% - 8px);
            bottom: 4vh;
            @media (max-width: 1024.98px) {
                width: calc(33.333333% - 8px);
            }
            @media (max-width: 575.98px) {
                position: static;
                width: 100%;
            }
        }
        .swiper-button-prev,
        .swiper-button-next {
            color: map-get($map: $custom-theme-colors, $key: "neutral-black");
            position: static;
            top: 0;
            margin-top: 0;
            width: 44px;
            height: 44px;
            background-color: #ffffff;
            border-radius: 50%;
            transition: 0.3s all ease-in-out;
            &:after {
                font-size: 18px;
            }
            @media (max-width: 1024.98px) {
                width: 32px;
                height: 32px;
                &:after {
                    font-size: 14px;
                }
            }
        }
        .swiper-button-next {
            padding-left: 4px;
        }
        .swiper-button-prev {
            padding-right: 4px;
        }
        .swiper-slide-active {
            .image,
            .content {
                opacity: 1;
                transform: translateX(0);
            }
        }
        @media (max-width: 575.98px) {
            padding: 4vh 0;
        }
    }
    .content-wrapper {
        display: grid;
        align-items: center;
        height: 100%;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 16px;
        @media (max-width: 1024.98px) {
            grid-template-columns: 0.5fr 1fr;
        }
        @media (max-width: 767.98px) {
            grid-template-columns: 1fr;
            gap: 24px;
        }
    }
    .image {
        width: 100%;
        opacity: 0;
        transition: 0.3s opacity ease-in-out, 1s transform ease-in-out;
        transition-delay: 0.3s;
        transform: translateX(10%);
        img {
            width: 100%;
            height: auto;
        }
        @media (max-width: 767.98px) {
            order: 2;
        }
    }
    .content {
        color: #ffffff;
        opacity: 0;
        transition: 0.6s opacity ease-in-out, 1s transform ease-in-out;
        transition-delay: 0.6s;
        z-index: 10;
        transform: translateX(-10%);
        .content__heading {
            font-size: 56px;
            font-weight: 900;
            margin-bottom: 0;
            @media (max-width: 1024.98px) {
                font-size: 32px;
            }
        }
        .content__desc {
            margin-top: 16px;
            h4 {
                font-size: 20px;
                margin-bottom: 16px;
            }
            ul {
                li {
                    + li {
                        margin-top: 8px;
                    }
                }
            }
        }
        .content__action {
            margin-top: 24px;
        }
        @media (min-width: 1025px) {
            margin-left: -24%;
        }
        @media (max-width: 767.98px) {
            order: 1;
        }
    }
    .button-navigation-group {
        display: flex;
        gap: 8px;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        bottom: 4vh;
        z-index: 100;
        @media (max-width: 575.98px) {
            position: static;
            margin: 16px 0;
        }
    }
    .container {
        @media (min-width: 1025px) {
            height: 100%;
        }
    }
    @media (min-width: 1025px) {
        height: 100vh;
    }
}

.testimonial-style-01 {
    padding-top: 80px;
    padding-bottom: 80px;
    .testimonial-swiper {
        margin-top: 32px;
        .swiper-pagination {
            position: static;
            margin-top: 8px;
        }
        .swiper-pagination-bullet {
            background: map-get($map: $custom-theme-colors, $key: "primary");
            transition: 0.3s all ease-in-out;
        }
        .swiper-pagination-bullet-active {
            width: 24px;
            border-radius: 8px;
        }
    }
    .image {
        width: 250px;
        height: 250px;
        overflow: hidden;
        border-radius: 50%;
        margin: 0 auto;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            object-position: center center;
        }
        @media (max-width: 575.98px) {
            width: 200px;
            height: 200px;
        }
    }
    .content__desc {
        font-style: italic;
        max-width: 750px;
        width: 100%;
        margin: 16px auto 0;
        text-align: center;
        &::before {
            color: map-get($map: $custom-theme-colors, $key: "neutral-grey-3");
            display: block;
            font-size: 44px;
            content: "\f10e";
            font-family: "FontAwesome";
        }
    }
    .content__name {
        text-align: center;
        font-weight: 700;
        margin-top: 16px;
        span {
            + span {
                color: map-get(
                    $map: $custom-theme-colors,
                    $key: "neutral-grey-1"
                );
                font-weight: 400;
                font-style: italic;
            }
        }
    }
    @media (max-width: 767.98px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.call-to-action-01,
.call-to-action-02 {
    position: relative;
    background-size: cover;
    background-position: center center;
    min-height: 410px;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0.7;
        pointer-events: none;
    }
    .content-wrapper {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        text-align: center;
        width: 100%;
        h2 {
            color: #ffffff;
            font-size: 36px;
            line-height: 44px;
            text-transform: uppercase;
            margin-bottom: 16px;
            font-weight: 700;
            @media (max-width: 767.98px) {
                font-size: 24px;
                line-height: 32px;
            }
        }
    }
    @media (max-width: 575.98px) {
        min-height: 320px;
    }
}

.call-to-action-01 {
    &:after {
        background-color: map-get(
            $map: $custom-theme-colors,
            $key: "secondary-2"
        );
    }
}

.call-to-action-03 {
    padding: 80px 0;
    background-color: map-get(
        $map: $custom-theme-colors,
        $key: "neutral-black"
    );
    .list-item {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 48px;
        @media (max-width: 1199.98px) {
            gap: 24px;
        }
        @media (max-width: 767.98px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .item {
        .heading {
            display: flex;
            justify-content: center;
            align-items: center;
            .icon {
                font-size: 36px;
                color: map-get($map: $custom-theme-colors, $key: "primary");
                @media (max-width: 1199.98px) {
                    font-size: 32px;
                }
            }
            span {
                font-size: 48px;
                display: inline-block;
                color: #ffffff;
                padding-left: 16px;
                line-height: 1;
                font-weight: 700;
                @media (max-width: 1199.98px) {
                    font-size: 32px;
                    padding-left: 12px;
                }
            }
        }
        .desc {
            font-size: 18px;
            color: #ffffff;
            margin-top: 8px;
            text-align: center;
            @media (max-width: 1199.98px) {
                font-size: 14px;
            }
        }
    }
    .actions {
        display: flex;
        gap: 24px;
        justify-content: center;
        align-items: center;
        margin-top: 48px;
        @media (max-width: 1024.98px) {
            margin-top: 24px;
        }
    }
    @media (max-width: 575.98px) {
        padding: 40px 0;
    }
}

.call-to-action-02 {
    &:after {
        background-color: map-get(
            $map: $custom-theme-colors,
            $key: "neutral-black"
        );
    }
}

.content-and-image-style-01,
.content-and-image-style-02 {
    padding-top: 80px;
    .images-wrapper {
        @media (max-width: 767.98px) {
            order: 2;
            margin-top: 24px;
        }
    }
    .contents-wrapper {
        @media (max-width: 767.98px) {
            order: 1;
        }
    }
    @media (max-width: 1024.98px) {
        .gx-48 > .col,
        .gx-48 > [class*="col-"] {
            padding-right: 15px;
            padding-left: 15px;
        }
        .gx-64 > .col,
        .gx-64 > [class*="col-"] {
            padding-right: 15px;
            padding-left: 15px;
        }
    }
}

.content-and-image-style-01 {
    padding-bottom: 80px;
    margin-top: 80px;
    background-color: map-get(
        $map: $custom-theme-colors,
        $key: "neutral-grey-3"
    );
    .title-section-default {
        margin-bottom: 16px;
    }

    .title {
        font-size: 36px;
        line-height: 44px;
        font-weight: 700;
        margin-bottom: 16px;
    }
    .desc {
        margin-bottom: 0;
        + .desc {
            margin-top: 16px;
        }
    }
    .image {
        overflow: hidden;
        border-radius: 16px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }
    .actions {
        margin-top: 16px;
        .btn {
            color: #ffffff;
            background-color: map-get(
                $map: $custom-theme-colors,
                $key: "secondary-2"
            );
        }
    }
    .swiper-pagination-bullet {
        background: map-get($map: $custom-theme-colors, $key: "primary");
        transition: 0.3s all ease-in-out;
    }
    .max-width-604 {
        max-width: 604px;
        width: 100%;
    }
    @media (max-width: 767.98px) {
        padding-top: 40px;
        padding-bottom: 40px;
        margin-top: 40px;
    }
}

.content-and-image-style-02 {
    position: relative;
    overflow: hidden;
    .title-section-default {
        margin-bottom: 32px;
        @media (max-width: 1024.98px) {
            margin-bottom: 8px;
        }
    }
    .image {
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            border-radius: 16px;
            object-position: center center;
            object-fit: cover;
        }
    }
    .list-item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 32px;
        grid-row-gap: 24px;
        margin-top: 32px;
        padding: 0;
        margin-bottom: 0;
        .item {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 0 0 32px;
                max-width: 32px;
                height: 32px;
                color: map-get($map: $custom-theme-colors, $key: "secondary-2");
                font-size: 24px;
                @media (max-width: 575.98px) {
                    font-size: 16px;
                    flex: 0 0 24px;
                    max-width: 24px;
                    height: 24px;
                }
            }
            h4 {
                flex-basis: 0;
                flex-grow: 1;
                max-width: 100%;
                font-size: 16px;
                line-height: 24px;
                font-weight: 700;
                padding-left: 16px;
                margin-bottom: 0;
                @media (max-width: 1024.98px) {
                    font-size: 14px;
                    padding-left: 8px;
                }
                @media (max-width: 575.98px) {
                    padding-left: 4px;
                }
            }
            p {
                color: map-get(
                    $map: $custom-theme-colors,
                    $key: "neutral-grey-1"
                );
                margin-top: 8px;
            }
        }
        @media (max-width: 1024.98px) {
            grid-row-gap: 16px;
            grid-column-gap: 24px;
            margin-top: 8px;
        }
        @media (max-width: 767.98px) {
            order: 2;
        }
        @media (max-width: 575.98px) {
            grid-template-columns: repeat(1, 1fr);
        }
        &--large {
            .item {
                display: block;
                .icon {
                    font-size: 36px;
                    flex: 0 0 auto;
                    max-width: unset;
                    height: unset;
                    width: 100%;
                    justify-content: flex-start;
                    @media (max-width: 767.98px) {
                        justify-content: center;
                    }
                }
                h4 {
                    font-size: 24px;
                    line-height: 32px;
                    margin-left: 0;
                    margin-top: 8px;
                    flex-basis: unset;
                    flex-grow: unset;
                    padding-left: 0;
                    @media (max-width: 767.98px) {
                        text-align: center;
                    }
                    @media (max-width: 575.98px) {
                        font-size: 18px;
                        line-height: 24px;
                    }
                }
                p {
                    @media (max-width: 1024.98px) {
                        font-size: 14px;
                        line-height: 22px;
                    }
                    @media (max-width: 767.98px) {
                        text-align: center;
                    }
                }
            }
            @media (max-width: 767.98px) {
                margin-top: 32px;
            }
            @media (max-width: 575.98px) {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
    .desc {
        margin-bottom: 0;
    }
    .actions {
        margin-top: 64px;
        @media (max-width: 1439.98px) {
            margin-top: 48px;
        }
        @media (max-width: 1024.98px) {
            margin-top: 24px;
        }
    }
    &.has-background {
        background-color: map-get(
            $map: $custom-theme-colors,
            $key: "neutral-grey-3"
        );
        padding-bottom: 80px;
        @media (max-width: 575.98px) {
            padding-bottom: 40px;
        }
    }
    @media (max-width: 575.98px) {
        padding-top: 40px;
    }
}

.timeline-style-01 {
    position: relative;
    padding-top: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    .timeline {
        position: relative;
        color: #ffffff;
        max-width: 464px;
        width: 100%;
        margin: 0 auto;
        &:after {
            content: "";
            border: 1px solid #ffffff;
            height: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
        }
    }
    .timeline__item {
        max-width: 50%;
        width: 100%;
        .item__year {
            position: relative;
            font-size: 24px;
            text-align: center;
            font-weight: 700;
            padding: 0 20px 4px 20px;
            border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.25);
            word-break: break-word;
            &:after {
                content: "";
                position: absolute;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: #ffffff;
                bottom: -8px;
            }
            @media (max-width: 575.98px) {
                font-size: 18px;
                padding: 0 16px 4px 16px;
            }
        }
        .item__desc {
            font-size: 14px;
            text-align: center;
            padding: 8px 28px 0 28px;
            @media (max-width: 575.98px) {
                padding: 8px 16px 0 16px;
            }
        }
        &--active {
            .item__year {
                color: map-get($map: $custom-theme-colors, $key: "primary");
            }
        }
        &:nth-child(2n + 1) {
            .item__year {
                &:after {
                    right: -8px;
                }
            }
        }
        &:nth-child(2n) {
            margin-left: auto;
            .item__year {
                &:after {
                    left: -8px;
                }
            }
        }
        + .timeline__item {
            margin-top: 32px;
            @media (max-width: 575.98px) {
                margin-top: 16px;
            }
        }
    }
    &:after {
        content: "";
        background-color: map-get(
            $map: $custom-theme-colors,
            $key: "neutral-black"
        );
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0.9;
        pointer-events: none;
    }
    > * {
        z-index: 10;
    }
    .call-to-action-03 {
        margin-top: 80px;
        background-color: rgba(
            $color: map-get($map: $custom-theme-colors, $key: "neutral-black"),
            $alpha: 0.8
        );
        @media (max-width: 575.98px) {
            margin-top: 40px;
        }
    }
}

.process-style-01 {
    position: relative;
    padding: 80px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    &:after {
        content: "";
        background-color: map-get(
            $map: $custom-theme-colors,
            $key: "neutral-black"
        );
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0.9;
        pointer-events: none;
    }
    > * {
        z-index: 10;
    }
    .process {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 84px;
        grid-row-gap: 24px;
        margin-top: 32px;
        @media (max-width: 1199.98px) {
            grid-template-columns: repeat(4, 1fr);
        }
        @media (max-width: 1024.98px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 767.98px) {
            grid-column-gap: 24px;
        }
        @media (max-width: 575.98px) {
            grid-column-gap: 16px;
            grid-row-gap: 16px;
        }
    }
    .process__item {
        color: #ffffff;
        .item__step {
            text-align: center;
            color: transparent;
            font-size: 64px;
            -webkit-text-stroke: 1px #ffd8e7;
            font-weight: 700;
            line-height: 1;
            @media (max-width: 575.98px) {
                font-size: 32px;
            }
        }
        .item__image {
            .image {
                overflow: hidden;
                border-radius: 50%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center center;
                }
            }
        }
        .item__desc {
            text-align: center;
            margin-top: 20px;
            @media (max-width: 575.98px) {
                font-size: 12px;
                margin-top: 8px;
            }
        }
        + .process__item {
            .item__image {
                position: relative;
                &::before {
                    content: "\f105";
                    font-family: "FontAwesome";
                    position: absolute;
                    left: -44px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 38px;
                    @media (max-width: 767.98px) {
                        content: none;
                    }
                }
            }
            @media (max-width: 1199.98px) {
                &:nth-child(5) {
                    .item__image {
                        &::before {
                            content: none;
                        }
                    }
                }
            }
            @media (max-width: 1024.98px) {
                &:nth-child(5) {
                    .item__image {
                        &::before {
                            content: "\f105";
                        }
                    }
                }
                &:nth-child(4) {
                    .item__image {
                        &::before {
                            content: none;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 575.98px) {
        padding: 40px 0;
    }
}

.gallery-style-01 {
    padding: 80px 0;
    background-color: map-get(
        $map: $custom-theme-colors,
        $key: "neutral-grey-3"
    );
    .button-navigation-group {
        display: flex;
        gap: 8px;
        align-items: center;
        margin: 32px 0;
        @media (max-width: 1024.98px) {
            margin: 24px 0;
        }
    }
    .swiper-button-prev,
    .swiper-button-next {
        color: map-get($map: $custom-theme-colors, $key: "neutral-black");
        position: static;
        top: 0;
        margin-top: 0;
        width: 44px;
        height: 44px;
        background-color: #ffffff;
        border-radius: 50%;
        transition: 0.3s all ease-in-out;
        &:after {
            font-size: 18px;
        }
        @media (max-width: 1024.98px) {
            width: 32px;
            height: 32px;
            &:after {
                font-size: 14px;
            }
        }
    }
    .swiper-button-next {
        padding-left: 4px;
    }
    .swiper-button-prev {
        padding-right: 4px;
    }
    .gallery-swiper {
        .image {
            position: relative;
            cursor: pointer;
            overflow: hidden;
            width: 100%;
            height: 100%;
            border-radius: 8px;
            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                background-color: rgba($color: #000000, $alpha: 0.5);
                opacity: 0;
                visibility: hidden;
                transition: 0.3s all ease-in-out;
                pointer-events: none;
            }
            &:before {
                color: #ffffff;
                font-size: 24px;
                content: "\f002";
                font-family: "FontAwesome";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: scale(0) translate(-50%, -50%);
                transition: 0.3s all ease-in-out;
                z-index: 10;
                pointer-events: none;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &:hover {
                &:after {
                    opacity: 1;
                    visibility: visible;
                }
                &:before {
                    transform: scale(1) translate(-50%, -50%);
                }
            }
        }
    }
    @media (max-width: 575.98px) {
        padding: 40px 0;
    }
}
