.section-your-booking-information-25fit {
    padding: 24px 0;
    height: 100%;
}

.booking-title-wrapper {
    padding-bottom: 16px;
    border-bottom: 1px solid
        map-get($map: $o-theme-color-palettes-custom, $key: "neutral-grey-3");
}

.your-booking-title {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    @media (min-width: 768px) {
        font-size: 1.125rem;
    }
    @media (min-width: 992px) {
        font-size: 1.5rem;
    }
}

.your-booking-information-wrapper {
    margin-top: 32px;
    .information-header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        .information-title {
            font-size: 1.125rem;
            @media (min-width: 992px) {
                font-size: 1.375rem;
            }
        }
        .btn {
            margin-left: 16px;
        }
    }
    .information-body {
        overflow-x: auto;
        .informations {
            display: grid;
            grid-gap: 12px;
            grid-template-columns: repeat(1, 1fr);
            @media (min-width: 992px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media (min-width: 1200px) {
                grid-template-columns: repeat(3, 1fr);
            }
        }
        .information__item {
            padding: 16px;
            box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
            border-radius: 8px;
            table {
                font-size: 0.875rem;
                tr {
                    td {
                        padding-top: 8px;
                        padding-bottom: 8px;
                        border-top: 1px solid #ffffff;
                        vertical-align: top;
                        &:first-child {
                            padding-right: 24px;
                            width: 30%;
                        }
                        &:last-child {
                            font-weight: 600;
                            font-weight: 70%;
                        }
                    }
                    &:first-child {
                        td {
                            border-top: 0;
                            padding-top: 0;
                        }
                    }
                    &:last-child {
                        td {
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }
        .information__item--time {
            color: #ffffff;
            background-color: map-get(
                $map: $o-theme-color-palettes-custom,
                $key: "secondary-2"
            );
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .date {
                font-size: 1.125rem;
            }
            .time {
                font-size: 2.25rem;
                font-weight: 700;
                margin-top: 8px;
            }
            .time-zone {
                font-size: 0.875rem;
                font-style: italic;
                margin-top: 4px;
            }
        }
        .information__item--info_booking {
            background-color: #ffd8e7;
        }
        .information__item--info_user {
            background-color: #cdf9f8;
        }
        .table-information {
            width: 100%;
            tr {
                th,
                td {
                    padding: 8px;
                    border-bottom: 1px solid
                        map-get(
                            $map: $o-theme-color-palettes-custom,
                            $key: "neutral-grey-3"
                        );
                    @media (min-width: 576px) {
                        padding: 16px;
                    }
                }
                td {
                    &:first-child {
                        font-size: 0.75rem;
                        font-weight: 700;
                        background-color: #e8ecef;
                        border-bottom: 1px solid #ffffff;
                        > p {
                            margin: 0;
                        }
                        > span {
                            font-size: 0.625rem;
                            color: map-get(
                                $map: $o-theme-color-palettes-custom,
                                $key: "neutral-grey-1"
                            );
                            font-weight: 400;
                            margin-top: 2px;
                        }
                        @media (min-width: 768px) {
                            width: 220px;
                            font-size: 0.875rem;
                        }
                    }
                    &:not(:first-child) {
                        border-right: 1px solid
                            map-get(
                                $map: $o-theme-color-palettes-custom,
                                $key: "neutral-grey-3"
                            );
                    }
                }
                &:first-child {
                    td {
                        border-top: 1px solid
                            map-get(
                                $map: $o-theme-color-palettes-custom,
                                $key: "neutral-grey-3"
                            );
                    }
                }
                &:last-child {
                    td {
                        &:first-child {
                            border-bottom: 1px solid
                                map-get(
                                    $map: $o-theme-color-palettes-custom,
                                    $key: "neutral-grey-3"
                                );
                        }
                    }
                }
            }
            &.customer-goals {
                tr {
                    td {
                        &:not(:first-child) {
                            font-size: 0.75rem;
                        }
                    }
                }
            }
            &.customer-body-composition-history {
                min-width: 768px;
                tr {
                    td {
                        &:not(:first-child) {
                            text-align: center;
                            font-size: 0.75rem;
                            > p {
                                font-size: 0.75rem;
                                font-weight: 400;
                                margin: 0;
                            }
                            @media (min-width: 1200px) {
                                font-size: 1.125rem;
                            }
                        }
                    }
                }
            }
            &.block-lego-lessons {
                tr {
                    cursor: pointer;
                    td {
                        &:not(:first-child) {
                            width: 140px;
                            img {
                                width: 100%;
                                height: auto;
                            }
                        }
                        &:first-child {
                            width: auto;
                            .group-text {
                                display: flex;
                                align-items: center;
                            }
                            .number {
                                font-size: 0.75rem;
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                                min-width: 24px;
                                min-height: 24px;
                                border: 1px solid #c4c4c4;
                            }
                            .name {
                                padding-left: 8px;
                            }
                        }
                    }
                }
            }
        }
    }
}
